footer{

    width: 100%;
    text-align: center;
    color: white;
}

.top_footer{
    background-color: black;
    padding: 4px 0;
}

.under_footer{
    background-color: #262626;
    padding: 1vh 0;
}

footer li{
    list-style: none;
    display: inline-block;
    margin: 0 3vw ;
    font-size: 30px;   
}
footer a{
    color: greenyellow;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
}

footer i{
    
}

.bunntekst {
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 15px;
}

h3 {
    font-size: 25px;
}
i.fa.fa-twitter-square{

}
footer p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
}
footer h3 {
    display: block;

    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;

}
